
/* main css Imobanco Theme */   
    .page-enter-active, .page-leave-active {
    transition: linear .5s
    }
    .page-enter, .page-leave-active {
      opacity: 0
    }
*{
 padding: 0;
 margin: 0;
 text-decoration: none;
 list-style: none;
 box-sizing: border-box;   
}

  .container-fluid{
        margin: 0px !important;
        padding: 0px !important;
    }
    .btn-radius{
        border-radius: 30px !important;
    }
    .linestyle{
        margin: 0px;
        border-bottom: 1px solid #06cece;
    }
    .linestyle-sidebar{
        margin: 1px;
        border-bottom: 0,5px solid #b0bec5;
    }
    .linetitulo{
        margin: 0px;
        padding: 0px;
        border-bottom: 3px solid #304ffe;
    }
   
    .newsletter{
        padding: 0px !important;
        margin: 0px !important;
    }
    .blog{
        height: 400px;
    }
    
    .depoimentos{
        height: 300px;
    }
    .footer{
        height: 300px;
    }    
    .button-radius{
        border-radius: 30px !important;
        border: 1px #06cece solid !important;
    }
    .form-control{
        border-radius: 30px !important;
        border: 1px #06cece solid !important;
    }
    .control-form{
        background-color: rgba(6,0,101,0.1) !important;
    }
    
    .bg-nav{
    background-color: rgba(10,23,55,0.0) !important;    
    }

    .icon-text{
        font-size: 25px;
    }
    .radius-circle{
        border-radius: 50px;
    }
.boxcatindex{
    background-color: #212121;
    color: #f0f0f0;
    padding: 5px;
}
    .imgcover{
        width: 100%;
        height: 100px;
        object-fit: cover;
    }

    .line-white{
        width: 50px;
        height: 25px;
    }
    .box-right{
        border: 2px solid #3489cc;
        border-radius: 30px 30px 30px 30px;
        padding: 10px;
    }