// Colors Imobanco Template

.bg-primary {
  background-color: #002c5f !important;
}

.bg-imobanco {
  background-color: #003e69 !important;
}

.bg-secondary {
  background-color: #0d47a1 !important;
}

.bg-success {
  background-color: #00c1de !important;

}

.bg-info {
  background-color: #3d5af1 !important;
}

.bg-warning {
  background-color: #fbce00 !important;
}

.bg-danger {
  background-color: #ff304f !important;
}

.bg-graylight {
  background-color: #f5f5f5 !important;
}

.bg-bluedark {
  background-color: #040828 !important;
}

.bg-blackdark {
  background-color: #121421 !important;
}

.bg-bluepink {
  background-color: #4032ec !important;
}

.text-primary {
  color: #0e153a !important;
}

.text-imobanco {
  color: #003e69 !important;
}

.text-secondary {
  color: #0d47a1 !important;
}

.text-success {
  color: #00c1de !important;
}

.text-info {
  color: #3d5af1 !important;
}

.text-warning {
  color: #fbce00 !important;
}

.text-danger {
  color: #ff304f !important;
}

.text-graylight {
  color: #f5f5f5 !important;
}