// Text style Template

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

h1 {
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-family: "Ubuntu", sans-serif;
}

h3 {
  font-family: "Ubuntu", sans-serif;
}

h4 {
  font-family: "Ubuntu", sans-serif;
}

h5 {
  font-family: "Ubuntu", sans-serif;
}

h6 {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}

// Text style Template

.text-title {
  font-weight: 800;
}

.text-subtitle {
  font-weight: 600;
}

.text-content {
  font-weight: 400;
}

@media (min-width: 992px) {
  // Tamanho ideal 35px
  .title-font {
    font-size: 35px;
  }
  .text-propaganda {
    font-size: 70px;
  }
}

@media (max-width: 991.98px) {
  // Tamanho Mobile Tablet 30px
  .title-font {
    font-size: 30px;
  }
  .text-propaganda {
    font-size: 30px;
  }
}
